body{
    font-family: 'Source Sans Pro';
}
.accessD{
	
	text-align: center;
	font-size: 18px;
}
.accessD h3{font-size: 40px; margin-bottom: 0;text-transform: uppercase; }
.accessD h3 + span{font-size: 22px; display: block; text-transform: uppercase; padding-left: 20px; letter-spacing: 32px;  font-weight: 100; display: block; margin-bottom: 25px;}

.logo{
	position: absolute;
	z-index: 10;
	overflow: hidden;
	top:40px;
	left:40px;	
}
.logo img{
   float:left;
}

.logo .developer{
    margin-right: 40px;
}


.selectionNote{position: absolute; z-index: 99; top:70px;left:50%; transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); color: #FFFFFF; padding: 15px 25px; background-color: rgba(0,0,0,0.35); font-size: 28px; text-transform: uppercase; }
footer{
	position: absolute;
	z-index: 10;
	overflow: hidden;
	bottom:0px;
	background-color: #01304c;
	
}
.foot-text{
  text-align: center;
  float:left;width: calc(100% - 250px);
  
  color:#fff;
  
  font-size: 12px;
  line-height: 1.14;
  min-height: 34px;
  margin-top: 6px;
}
.foot-text p{width:100%;margin:0 auto;}
.home-logo{
	display: inline-block;
	float:right;
	padding: 5px 12px;
	background-color: #000;
}
.home-logo img{
	width:142px;
}


.info-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0);
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    /*opacity: 0.5;*/
    overflow: hidden;  
      display: none; 
 
}

.info-box .inner{
	width:300px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    z-index: 2000;
    left:50%;
    top:50%;
    background:#fff;
   
   -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
   
}
.info-box .close{
	position: absolute;
	right:5px;
	top:5px;
	color:red;
	cursor: pointer;
}
#info_content{
    text-align: left;
    
     padding: 30px;
}
#info_content ul{
    padding-top:0;
    padding-left: 16px;
}



@media (max-width: 1600px) {
   /*.home-logo{
      padding: 15px 15px;
   }*/

   .foot-text{
    font-size: 12px;
   }
}
@media (max-width: 1360px) {
   /*.home-logo{
      padding: 23px 15px;
   }*/

  .foot-text{
    font-size: 10px;
   }
}

@media (max-width: 1170px) {
   /*.home-logo{
      padding: 23px 15px;
   }*/

  .foot-text{
    font-size: 8px;
   }
}

@media (max-width: 1000px) {
   /*.home-logo{
      padding: 23px 15px;
   }*/

  .foot-text{
    font-size: 6px;
   }
}

