body{
    font-family: 'Source Sans Pro';
}
canvas
{
	    touch-action: none;
}
.accessD{
	
	text-align: center;
	font-size: 18px;
}
.accessD h3{font-size: 40px; margin-bottom: 0;text-transform: uppercase; }
.accessD h3 + span{font-size: 22px; display: block; text-transform: uppercase; padding-left: 20px; letter-spacing: 32px;  font-weight: 100; display: block; margin-bottom: 25px;}

.logo{
	position: absolute;
	z-index: 10;
	overflow: hidden;
	top:40px;
	left:40px;	
}
.logo img{
   float:left;
}

.logo .developer{
    margin-right: 40px;
}
#info-popup
 {
  /* padding: 10px 15px 30px 15px; */
  background-color: #fff;
  color: #0F7140; 
  font-size: 18px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 240px;
  /* min-height: 53px; */
  line-height: 1.3;
 }
 .info-heading
 {
   height:32px;
   background-color:#00703c;
   color:#fff;
 }
 .info-t
 {
   font-size: 17px;
   line-height: 1;
   padding-left: 9PX;
   padding-top: 7PX;
   font-family: Helvetica;
   letter-spacing: 0.3px;
   font-weight: 300;
 }
 .info-name
 {
   padding: 8px 9px 10px 9px;
   font-family: Helvetica;
   font-size: 15px;
   color: #666666;
   line-height: 1.2;
   letter-spacing: 0.3px;
 }
 #info-popup .close-info
 {
   position: absolute;
   top: 0px;
   right: 0px;
 }
 .label-info
 {
   cursor: pointer;
   position: absolute;
   bottom: 37px;
   right: 462px;
   z-index: 100;
 }
 .label-info img{
    width:38px;
 }
 .info-shot
 {
    display:none;
 }
.ht-name
    {
      font-size: 30.5px;
      margin-top: 6px;
      color: #73c167;
      margin-left: 63px;
      font-weight: bold;
      text-transform: uppercase;
    }
.selectionNote{position: absolute; z-index: 99; top:70px;left:50%; transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); color: #FFFFFF; padding: 15px 25px; background-color: rgba(0,0,0,0.35); font-size: 28px; text-transform: uppercase; }
footer{
	position: absolute;
	z-index: 10;
	overflow: hidden;
	bottom:0px;
	background-color: #01304c;
	
}
.foot-text{
  text-align: center;
  float:left;width: calc(100% - 250px);
  
  color:#fff;
  
  font-size: 12px;
  line-height: 1.14;
  min-height: 34px;
  margin-top: 6px;
}
.foot-text p{width:100%;margin:0 auto;}
.home-logo{
	display: inline-block;
	float:right;
	padding: 5px 12px;
	background-color: #000;
}
.home-logo img{
	width:142px;
}


.info-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0);
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    /*opacity: 0.5;*/
    overflow: hidden;  
      display: none; 
 
}

.info-box .inner{
	width:300px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    z-index: 2000;
    left:50%;
    top:50%;
    background:#fff;
   
   -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
   
}
.info-box .close{
	position: absolute;
	right:5px;
	top:5px;
	color:red;
	cursor: pointer;
}
#info_content{
    text-align: left;
    
     padding: 30px;
}
#info_content ul{
    padding-top:0;
    padding-left: 16px;
}


.tag {
   font-size: 18px;
   line-height: normal;
   text-align: center;
   color: #0F7140;
   position: absolute;
   bottom: 60px;
   right: 50%;
   transform: translateX(50%);
   -moz-transform: translateX(50%);
   -webkit-transform: translateX(50%);
   background-color: rgba(255, 255, 255, 0.5);
   width: 240px;
   box-sizing: border-box;
   padding: 4px 0px;
}

#nav-next{
   right: 0px;
}
#nav-prev{
   left: 0px;
}

.nav-handles {
   position: absolute;
   top: 40%;
   width: 40px;
   margin: 30px;
   cursor: pointer;
}

#floorplan-container{
   display: block;
   position: absolute;
   min-width: 214px;
  
   right: 40px;
   /* background-color: white; */
   bottom: 43px;
}

#floorplan-container .floorplan-inner{
  position: relative;
  width: 214px;
}

#floorplan-container .floorplan-inner .btn_click {
   cursor: pointer;
   position: absolute;
   width: 20px;
   height: 20px;
   /* background-image: url(../images/icon-location-scene.png); */
   background-repeat: no-repeat;
}

#floorplan-container .floor-buttons {
   width: 100%;
   height: 30px;
   text-align: center;
   bottom: 0;
   margin-top: 15px;
}

#floorplan-container .floor-buttons .div-centering {
   width: 100%;
   height: 100%;
   position: absolute;
   /* margin: 0 auto; */
   margin: 0 0px 0px 10px;
}

img {
   vertical-align: middle;
}


#floorplan-container .floorplan-inner .floor .camera {
    position: absolute;
    transform-origin: top left;
    -webkit-transform-origin: top left;
}

#floorplan-container .floorplan-inner .floor  .arrow {
   /* position: absolute; */
   cursor: pointer;
   width: 20px;
   height: 20px;
}


#floorplan-container .floorplan-inner .floor {
   display: block;
   margin: 0 auto;
   width: 100%;
}

#floorplan-container .floorplan-inner .floor .floor-img {
   display: none;
   margin: 0 auto;
   width: 100%;
}

#floorplan-container .floor-buttons  .btn-floor {
   height: 29px;;
   width: 100px;
   font-size: 18px;
   float: left;
   /* margin-right: 10px; */
   text-align: center;
   background-color: #00703c;
   color: white;
   border: 1px solid #00703c;
   line-height: 31px;
   cursor: pointer;
   font-weight: 400;
}

#floorplan-container .floor-buttons  .active {
   height: 29px;;
   width: 100px;
   font-size: 18px;
   float: left;
   text-align: center;
   background-color: #ffffff;
   color: #00703c;
   border: 1px solid #ffffff;
   line-height: 31px;
   cursor: pointer;
   font-weight: 400;
}
 

/* .label-name {
   font-size: 15px;
   cursor: pointer;
   color: #0F7140;
   position: absolute;
   bottom: 60px;
   left: 68px;
   font-family: 'SourceSansPro';
   padding: 4px 6px 5px 6px;
   font-weight: 600;
   border: 1px solid #000;
   line-height: 1.4;
} */


.label-name {
   position: absolute;
   bottom: 40px;
   right: 261px;
   cursor: pointer; 
   width: 84px;
   height: 50px;

}
#labels .label {
    /*position:absolute;*/
    cursor: pointer;
    font-weight: 100;
   }
  
  #labels .hotspot {
    position: absolute;
    padding: 8px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #434647;
    font-size: 21px;
    
    width: 190px;
    line-height: 14px;
    text-align: center;
    border-radius: 0; }
  
  #labels .hotspot:hover, #labels .active {
    /*	background-color:rgb(112, 56, 147);
        color: #ffffff;
        opacity: 0.7;*/
    background-color: white; }
  
  #labels .hotspot img {
    opacity: .5; 
    position: absolute;
  }
  
  #labels .hotspot:hover img, #labels .active img {
    opacity: 1; }
  
  #labels .info {
      position: absolute;
     
  }

  .left img {
   left: -14px;
   top: -9px;
   width: 15px;
   height: 32px;
  }
  
  .right img {
   top: -8px;
   right: -15px;
   width: 16px;
   height: 30px;
   }
  
  .bottom img {
    left: 50%;
    bottom: -24px;
    width: 31px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
  
  .top img {
    left: 50%;
    top: -24px;
    width: 31px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
  

    .center-text{
       text-align: center;
    }

    .back-logo
    {
      position: absolute;
      bottom: 43px;
      left: 40px;
      /* border: 1px solid; */
      padding: 5px 10px;
      background: white;
      color: #00703c;
      font-weight: 500;
      font-size: 18px;
      cursor:pointer;
    }
    .exit
    {
       float:left;

    }
    .backButton
    {
      float:left;
      margin-left:3px;
    }
    .house
    {
      float:left;
      margin-left:3px;
    }

@media (max-width: 1600px) {
   /*.home-logo{
      padding: 15px 15px;
   }*/

   .foot-text{
    font-size: 12px;
   }
}
@media (max-width: 1360px) {
   /*.home-logo{
      padding: 23px 15px;
   }*/

  .foot-text{
    font-size: 10px;
   }
}

@media (max-width: 1170px) {
   /*.home-logo{
      padding: 23px 15px;
   }*/

  .foot-text{
    font-size: 8px;
   }
}

@media (max-width: 1000px) {
   /*.home-logo{
      padding: 23px 15px;
   }*/

  .foot-text{
    font-size: 6px;
   }
}

