
body{
    margin:0;
    overflow:hidden;
}

#window {
    position: absolute;                
    width: 100vw;
    height: 100vh;

}
.view{
    background: url(../images/overview.jpg) no-repeat;
    transform-origin: left top; 
    -webkit-transform-origin: left top;
    position: absolute;
    width:1920px;
    height:1440px;
}
#nav360max {
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 999;
    left: 0px;
    top: 0px;
}

.foot-logo{
    z-index: 1000;
    position: absolute;
    bottom: 40px;
    left:20px;
    cursor: pointer;
    /*  background-color: rgba(255,255,255,0.2);*/
    padding: 11px;
}
.foot-logo img{
    width:200px;
}

.right-logo{
    position:absolute;
    right:20px;
    top:10px;
    z-index: 1000;
}
.right-logo img{
    width:200px;
}



/*Hotspot Arrows*/
.label{
    position: relative;

}

.label img{
    position: absolute;    
}






polygon{
    cursor:pointer;
}

.guide-text{
    position: absolute;
    top:400px;
    right:285px;
    color: #004766;
    z-index: 1;
    font-size: 23px;
    font-family: PT Sans;
}

#popup{
    position:absolute;
    z-index:1;
    padding: 10px;
    background: #fff;
    color: #000;
    display: none;
    font-family: twCenR;
    font-size: 16px;
    font-style: italic;	

}
.fltTyp{
    font-size: 20px;
    font-weight: bold;
    text-align: center;	
    font-style: normal;
}
#popup:before {
    content: " ";
    position:absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFF;
    top: -8PX;
    left: 43%;
}


@media (max-width: 768px){
    #popup{
        font-size: 14px;
    }
    .fltTyp{
        font-size: 18px;
    }
    .devTxt h4 span {
        font-size: 14px;
        letter-spacing: 15px;
    }
    .devTxt h4 {
        margin: 10px;
        font-size: 20px;
    }
    .logo img {
        width: 200px;
    }
    .selectionNote {
        top: 13px;
        padding: 10px 10px;
        font-size: 14px;
    }
    .foot-text {
        width: calc(100% - 100px);
        min-height: 1px;
    }
    .home-logo img {
        width: 60px;
    }
    .closemax{bottom: 0; left: 0}
    .closemax img {
        width: 40px;

    }
    .nav-handles{top: 35%; width: 40px;
                 margin: 30px 10px;}
    /*	.tag {
                    font-size: 20px;
                    bottom: 16px;
                    padding: 5px 0px;
                    width: 145px;
                    font-size: 18px;
            }*/
    .hotspot span img {
        width: 40px;
    }
    #labels .hotspot {
        font-size: 18px;
        /* width: 145px; */
    }
    .left img {
        left: -22px;
        top: -2px;
        width: 17px;
    }
    .right img {
        top: -2px;
        right: -22px;
        width: 17px;
    }
    .top img {
        left: 50%;
        top: -22px;
        width: 36px;
    }

}


 

.overlay{display:none; position:fixed; width:100%; height:100%; color:#FFF; top:0; left:0; background-color:rgba(0,0,0,0.87); z-index:999; text-align:center; padding:150px 10px; box-sizing:border-box}
@media screen and (orientation:portrait) {
    .overlay{display:block;} 
}

@media screen and (orientation:landscape) {
    .overlay{display:none;}
}