/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2015, 10:31:47 AM
    Author     : Ajay B.
*/



.development-logo {
  position: absolute;
 left: 40px;
 top: 40px;

}
/* .label-dimension {
  font-size: 17px;
  cursor: pointer;
  color: #0F7140;
  position: absolute;
  bottom: 40px;
  right: 395px;
  z-index: 100;
  font-family: "Helvetica", sans-serif !important;
  padding: 3px 6px 5px 6px;
  font-weight: 600;
  border: 2px solid #74BF6B;
  line-height: 1.4;
  display: none;
  background-color: #fff;
} */


.label-dimension {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 378px;
  z-index: 100;
  display: none;
}

.dimen-table-outer
{   
  position: absolute;
  right: 40px;
  top: 37px;
  
}
.dimen-table-outer .head
{
  text-align: left;
  color: #fff;
  padding: 6px;
  padding-left: 6px;
  background-color: #00703c;
  padding-left: 12px;
  letter-spacing: 0.3px;
  font-size: 17px;
}
.dimension-table
{
/* background-color: #fcfcfc73; */
width: 240px;
/* background-color: rgba(255,255,255,0.45); */
}

/* .dimen-table-outer .dimension-table tr:nth-child(even) {
  /* background-color: #e2f2e0; 
  /* background-color: rgba(226,242,224,1); 

}
.dimen-table-outer .dimension-table tr:nth-child(odd) {
  /* background-color: #ffffff5c; 
  /* background-color: rgba(255,255,255,0.36); 

} */
.dimen-table-outer .dimension-table th {
  padding-bottom: 7px;
  font-size: 15px;
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
  height: 10px;
  padding-top: 7px;
  color: #666666;
  background-color: rgba(226, 242, 224, 0.5);
  letter-spacing: 0.3px;
}
.dimen-table-outer .dimension-table tr td {
  padding-left: 14px;
  height: 30px;
  padding-right: 14px;
  color: #666666;
  font-size: 15px;
  color: #666666;
  background-color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3px;
}


/* .dimen-table-outer .dimension-table tr:last-child >td {
  padding-bottom: 13px;
} */
.dimen-table-outer .total
{
  
}
.body
{
  font-family: "Helvetica", sans-serif !important;
}
.col {
  padding: 20px;
}
#col-1 {
  float: left;
}
#col-2 {
  float: right;
  font-size: 32px;
}
.col .row .color-box {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}
.col .row .house-type {
  font-weight: bold;
}
.col .row .cell {
  float: left;
  margin-right: 10px;
}
.info_active{
      background-image: url("images/info_active.png"); 

  }
@media only screen and (max-width: 1100px) {
  .table {
      font-size: 8px !important;
  }
  .thumbnail {
      width: 40% !important;
      padding: 25px;
  }
}

@media only screen and (max-width: 980px) {
  #col-2 {
      float: left;
  }
}
canvas {
  width: 100%;
  height: 100%
}
.imgfooter {
  background: #83ad50 none repeat scroll 0 0;
  font-size: 18px;
  line-height: 3;
  top: 0;
  position: absolute;
  color: #fff;
  width: 100%;
}
#zoom-container {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
}
#zoom-container .zoom-box {
  padding: 0;
}
#zoom-container .zoom-box {
  background-color: #fff;
  border: 1px solid #545454;
  margin: auto;
  max-width: 76%;
  width: 78%;
  margin: 2% auto auto;
}
.zoom-header {
  font-size: 203%;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #ded5e7, #7f64a5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #ded5e7, #7f64a5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #ded5e7, #7f64a5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #ded5e7, #7f64a5); /* Standard syntax */
}
.model-close {
  font-size: medium !important;
}
.thumbnail {
  width: 49%;
  padding: 25px;
}
.img2d1, .img2d2 {
  display: inline;
}
.content {
  display: flex;
}
.table {
  display: table;
  width: 47%;
  text-align: left;
  font-size: 12px;
}
.title {
  display: table-caption;
  text-align: left;
  font-weight: bold;
  font-size: larger;
}
.heading {
  display: table-row;
  font-weight: bold;
}
.row {
  display: table-row;
}
.content .cell {
  display: table-cell;
  border-bottom: thin solid;
  padding-left: 5px;
  padding-right: 5px;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .help {
      width: 35%!important;
  } /* your css rules for ipad portrait */
}
#viewpointmap {
  width: 365px;
height: 286px;
  /*width: 320px;*/
  position: absolute;
  z-index: 100;
  right: 19px;
  bottom: 13px;
  /*background: rgba(255,255,255,0.5);*/                
  /*padding: 20px;              */
  transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
}
.base-img {
  /*width: 289px;*/
  width: 100%;
  height:100%;
  display: block;
  margin: 0 auto;
}
#viewpointmap .arrow {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height:20px; 
}
.btn_click {
  width: 20px;
  height:20px;    
  cursor: pointer;
}
.btn_click img{
  width:100%;
}
.btn_click .number{
  color: #fff;
  margin-top: -33px;
  font-size: 15px;
}
#viewpointmap .camera {
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
}
#viewpointmap .icon-outer{
  border: solid;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .help {
      width: 35%!important;
  }/* your css rules for ipad landscape */
}
#viewpointmap {
  width: 365px;
height: 286px;
  /*width: 320px;*/
  position: absolute;
  z-index: 100;
  right: 19px;
  bottom: 13px;
  /*background: rgba(255,255,255,0.5);*/                
  /*padding: 20px;              */
  transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
}
.base-img {
  /*width: 289px;*/
  width: 100%;
  height:100%;
  display: block;
  margin: 0 auto;
}
#viewpointmap .arrow {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height:20px; 
}
.btn_click {
  width: 20px;
  height:20px;    
  cursor: pointer;
}
.btn_click img{
  width:100%;
}
.btn_click .number{
  color: #fff;
  margin-top: -33px;
  font-size: 15px;
}
#viewpointmap .camera {
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
}
#viewpointmap .icon-outer{
  border: solid;
}
#floor-nav .btn-floor-nav {
  /*    float: left;

text-align: center;

cursor: pointer;
background-color:#fff; 

color: #58563d;
font-size: 23px;
font-weight: bold;
padding: 7px 6px;
width: calc(50% - 12px);*/
  float: left;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #ffffff;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
}
#floor-nav .active {
  /* background-color:#58563d;
color: #fff;
  */
  text-decoration: underline;
}
.btn_click {
  cursor: pointer;
  position: absolute;
}
.nav-handles {
  position: absolute;
  top: 45%;
  width: 60px;
  margin: 40px;
}
#nav-previous {
  left: 0px;
}
#nav-next {
  right: 0px;
}
.col {
  padding: 20px;
}
#col-1 {
  float: left;
}
#col-2 {
  float: right;
  font-size: 32px;
}
.guide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  color: #fff;
}
.guide-overlay img {
  position: absolute;
}
#btn-furniture {
  width: 80px;
  height: 30px;
  font-family: Arial;
  font-size: 22px;
  /*font-weight: bold;*/
  text-align: justify;
  color: #fd4f00;
  background-color: #ffffff;
  line-height: 31px;
  /* position: absolute;
bottom: 30px;
right: 400px;*/
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}
#btn-show-furniture span {
  padding: 10px 6px;
}
.bt-furniture {
  position: absolute;
  bottom: 65px;
  left: 140px;
  width: 155px;
  cursor: pointer;
}
#virtual-visit {
  left: calc(50% - 211px);
  top: 227px;
}
#look-around {
  left: calc(50% - 148px);
  top: calc(50% - 108px);
}
#info-icon {
  left: calc(50% + 200px);
  top: calc(50% + 50px);
}
.thecube {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.thecube .cube {
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.thecube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.thecube .cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ac9259;
  -webkit-animation: foldthecube 2.4s infinite linear both;
  animation: foldthecube 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.thecube .c2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.thecube .c3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.thecube .c4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.thecube .c2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.thecube .c3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.thecube .c4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes foldthecube {
  0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
  }
  25%,  75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
  }
  90%,  100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
  }
}
@keyframes foldthecube {
  0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
  }
  25%,  75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
  }
  90%,  100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(51, 51, 51);

  overflow: hidden;
}
.overlay_inner {
  border-radius: 5px;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}
.info-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*background-color: #000;*/
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  /*opacity: 0.5;*/
  overflow: hidden;
  display: none;
  background-color: rgba(0, 0%, 0%, 0.2);
}
.info-box .inner {
  width: 300px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#info_content {
  text-align: left;
  font-family: Arial;
  padding: 10px;
}
#info_content ul {
  padding-top: 0;
  padding-left: 16px;
}
.closemax {
  z-index: 1000;
  position: absolute;
  bottom: 57px;
  left: 20px;
  cursor: pointer;
  /*  background-color: rgba(255,255,255,0.2);*/
  padding: 11px;
}
.closemax img{width: 60px;}
/*On Page css*/


/*On Page css*/

.tag {

  font-size: 30px;
  line-height: normal;
  text-align: CENTER;
  color: #fff;
  position: absolute;
  bottom: 66px;
  right: 50%;
  transform: translateX(50%);
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  background-color: #0c9b99;
  height: auto;
  width: auto;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 10px 40px;
}
.foot-logo {
  z-index: 1000;
  position: absolute;
  bottom: 40px;
  left: 20px;
  cursor: pointer;
  /*  background-color: rgba(255,255,255,0.2);*/
  padding: 11px;
}
#labels .label {
  /*position:absolute;*/
  /*cursor: pointer;*/
}

#labels .message{
  font-size: 48px;
  color:white;
  text-align: center;
  line-height: 50px;
}
.hotspot span img {
  cursor: pointer;
}
/* #labels .hotspot {
  padding: 0px 10px;
  color: #4c4c4c;
  font-size: 24px;
  /*min-width: 185px;*/
  /* text-align: center;
  border-radius: 10px;
  min-height: 35px;
  text-transform: uppercase;
  line-height: 35px;
} */
#labels .hotspot:hover, #labels .active {
  /*background-color: rgba(255,0,0,0.5);
 /*color:#ffffff;*/
}
#labels .info {
  /* width: 49px;
  height: 49px;
  background-image: url('../../images/info.png'); */
}
#ground-floor {
  margin-bottom: 10px;
}

/* .left img{
  left:-23px;
  top:-85px;
}

.right img{
  /*left:209px;
  top:-85px;
  right:-23px;
} */
.hotspot-locator
{
  position:absolute;
  background-image: url('images/icon-vv-locator.png');
  width: 58px;
  height: 81px;
  /*border: solid 1px #4d4d4d;*/
  cursor:pointer;
}
.hotspot-locator-info.info_active{
      width: 49px;
      height: 49px;
      background-image: url("../../images/info_active.png"); 

  }
  .hotspot-locator-info{
          width: 49px;
          height: 49px;
        background-image: url("../../images/info.png");
  }
.hotspot-locator .label{
  color:white;
  margin-top:15px;
  font-family: Arial;
  font-size: 23px;
  background-color: #ac9259;
} 
/*.hotspot-locator-info
{
  position:absolute;
  background-image: url('images/icon-vv-locator.png');
  width: 58px;
  height: 81px;
  border: solid 1px #4d4d4d;
  cursor:pointer;
}
.hotspot-locator-info .label{
  color:white;
  margin-top:15px;
  font-family: Arial;
  font-size: 23px;
  background-color: #ac9259;
}*/

#gyro {
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 122px;
  width: 30px;
  z-index: 100; }

  .title-disable
  {
      font-size: 12px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #0a0a0a;
      z-index: 1002;
      font-weight: 600;
  }
  .title-disable-hotspot
  {
      font-size: 18px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #b20837;
      font-weight: 600;
  }

  .info-square{
      min-width: 62px;
      height: 44px;
      border-radius: 10px;
      background-color: #f89c12;
      position: absolute;
      /* z-index: 1002; */
      margin-left: 29px;
      cursor:pointer;

  }
  .info-unit{
      font-family: Montserrat;
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      position: absolute;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-left: 9px;
      left: 50%;
      transform: translateX(-56%);
  }
  .hotspot-locator-info{
     
      top:-3px;
      left:0px;

  } 
  .color-legend
 {
  position: absolute;
  top: 18px !important;
  right: 99px !important;
  
  z-index: 1001;
}

#loader-perc {
  display: block;
  position:absolute;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  top:50%;
  width:500px;
  height:500px;
  text-align: center;
  color:#ccc;
  margin-top:211px;
  font-family: Arial;
}
svg 
{
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);;
}
#loader-perc:before {
 content: attr(data-pct);
 font-size:58px;
 font-weight: 600;
 
}
.loader-outer
{
   position:relative;
   width:100%;
   height:100%;
}
body{
  font-family: 'Source Sans Pro';
}
canvas
{
    touch-action: none;
}
.accessD{

text-align: center;
font-size: 18px;
}
.accessD h3{font-size: 40px; margin-bottom: 0;text-transform: uppercase; }
.accessD h3 + span{font-size: 22px; display: block; text-transform: uppercase; padding-left: 20px; letter-spacing: 32px;  font-weight: 100; display: block; margin-bottom: 25px;}

.logo{
position: absolute;
z-index: 10;
overflow: hidden;
top:40px;
left:40px;	
}
.logo img{
 float:left;
}

.logo .developer{
  margin-right: 40px;
}
#info-popup
{
/* padding: 10px 15px 30px 15px; */
background-color: #fff;
color: #203e35; 
font-size: 18px;
border-radius: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
width: 240px;
/* min-height: 53px; */
line-height: 1.3;
}
.info-heading
{
 height:32px;
 background-color:#00703c;
 color:#fff;
}
.info-t
{
 font-size: 17px;
 line-height: 1;
 padding-left: 9PX;
 padding-top: 7PX;
 font-family: Helvetica;
 letter-spacing: 0.3px;
 font-weight: 300;
}
.info-name
{
 padding: 8px 9px 10px 9px;
 font-family: Helvetica;
 font-size: 15px;
 color: #666666;
 line-height: 1.2;
 letter-spacing: 0.3px;
}
#info-popup .close-info
{
 position: absolute;
 top: 0px;
 right: 0px;
}
.label-info
{
 cursor: pointer;
 position: absolute;
 bottom: 37px;
 right: 462px;
 z-index: 100;
}
.label-info img{
  width:38px;
}
.info-shot
{
  display:none;
}
.ht-name
  {
    font-size: 30.5px;
    margin-top: 6px;
    color: #243d2e;
    margin-left: 9px;
    font-weight: bold;
    text-transform: uppercase;
  }
.selectionNote{position: absolute; z-index: 99; top:70px;left:50%; transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);  text-shadow: 1px 1px 1px rgba(0,0,0,0.3); color: #FFFFFF; padding: 15px 25px; background-color: rgba(0,0,0,0.35); font-size: 28px; text-transform: uppercase; }
footer{
position: absolute;
z-index: 10;
overflow: hidden;
bottom:0px;
background-color: #01304c;

}
.foot-text{
text-align: center;
float:left;width: calc(100% - 250px);

color:#fff;

font-size: 12px;
line-height: 1.14;
min-height: 34px;
margin-top: 6px;
}
.foot-text p{width:100%;margin:0 auto;}
.home-logo{
display: inline-block;
float:right;
padding: 5px 12px;
background-color: #000;
}
.home-logo img{
width:142px;
}


.info-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0);
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  /*opacity: 0.5;*/
  overflow: hidden;  
    display: none; 

}

.info-box .inner{
width:300px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  z-index: 2000;
  left:50%;
  top:50%;
  background:#fff;
 
 -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); 
  -ms-transform: translate(-50%, -50%); 
  -o-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
 
}
.info-box .close{
position: absolute;
right:5px;
top:5px;
color:red;
cursor: pointer;
}
#info_content{
  text-align: left;
  
   padding: 30px;
}
#info_content ul{
  padding-top:0;
  padding-left: 16px;
}


.tag {
 font-size: 18px;
 line-height: normal;
 text-align: center;
 color: #203e35;
 position: absolute;
 bottom: 60px;
 right: 50%;
 transform: translateX(50%);
 -moz-transform: translateX(50%);
 -webkit-transform: translateX(50%);
 background-color: rgba(255, 255, 255, 0.5);
 width: 240px;
 box-sizing: border-box;
 padding: 4px 0px;
}

#nav-next{
 right: 0px;
}
#nav-prev{
 left: 0px;
}

.nav-handles {
 position: absolute;
 top: 40%;
 width: 40px;
 margin: 30px;
 cursor: pointer;
}

#floorplan-container{
 display: block;
 position: absolute;
 min-width: 214px;

 right: 40px;
 /* background-color: white; */
 bottom: 0px;
}

#floorplan-container .floorplan-inner{
position: relative;
width: 214px;
}

#floorplan-container .floorplan-inner .btn_click {
 cursor: pointer;
 position: absolute;
 width: 20px;
 height: 20px;
 /* background-image: url(../images/icon-location-scene.png); */
 background-repeat: no-repeat;
}

#floorplan-container .floor-buttons {
 width: 100%;
 height: 30px;
 text-align: center;
 bottom: 0;
 margin-top: 15px;
}

#floorplan-container .floor-buttons .div-centering {
 width: 100%;
 height: 100%;
 position: absolute;
 /* margin: 0 auto; */
 /*margin: 0 0px 0px 10px;*/
}

img {
 vertical-align: middle;
}


#floorplan-container .floorplan-inner .floor .camera {
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
}

#floorplan-container .floorplan-inner .floor  .arrow {
 /* position: absolute; */
 cursor: pointer;
 width: 20px;
 height: 20px;
}


#floorplan-container .floorplan-inner .floor {
 display: block;
 margin: 0 auto;
 width: 100%;
}

#floorplan-container .floorplan-inner .floor .floor-img {
 display: none;
 margin: 0 auto;
 width: 100%;
}

#floorplan-container .floor-buttons  .btn-floor {
 height: 29px;;
 width: 100%;
 font-size: 18px;
 float: left;
 /* margin-right: 10px; */
 text-align: center;
 background-color: #00703c;
 color: white;
 border: 1px solid #00703c;
 line-height: 31px;
 cursor: pointer;
 font-weight: 400;
}

#floorplan-container .floor-buttons  .active {
 height: 29px;
 width: 100%;
 font-size: 18px;
 float: left;
 text-align: center;
 background-color: #ffffff;
 color: #203e35;
 border: 1px solid #ffffff;
 line-height: 31px;
 cursor: pointer;
 font-weight: 400;
}


/* .label-name {
 font-size: 15px;
 cursor: pointer;
 color: #0F7140;
 position: absolute;
 bottom: 60px;
 left: 68px;
 font-family: 'SourceSansPro';
 padding: 4px 6px 5px 6px;
 font-weight: 600;
 border: 1px solid #000;
 line-height: 1.4;
} */


.label-name {
 position: absolute;
 bottom: 40px;
 right: 261px;
 cursor: pointer; 
 width: 84px;
 height: 50px;

}
#labels .label {
  /*position:absolute;*/
  cursor: pointer;
  font-weight: 100;
 }

#labels .hotspot {
  position: absolute;
  padding: 8px 0px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #434647;
  font-size: 21px;
  
  width: 190px;
  line-height: 14px;
  text-align: center;
  border-radius: 0; }

#labels .hotspot:hover, #labels .active {
  /*	background-color:rgb(112, 56, 147);
      color: #ffffff;
      opacity: 0.7;*/
  background-color: white; }

#labels .hotspot img {
  opacity: .5; 
  position: absolute;
}

#labels .hotspot:hover img, #labels .active img {
  opacity: 1; }

#labels .info {
    position: absolute;
   
}

.left img {
  left: -15px;
  top: -8px;
  width: 16px;
  height: 30px;
}

.right img {
    top: -9px;
    right: -15px;
    width: 16px;
    height: 32px; 
 }

.bottom img {
  left: 50%;
  bottom: -24px;
  width: 31px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); }

.top img {
  left: 50%;
  top: -24px;
  width: 31px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); }


  .center-text{
     text-align: center;
  }

  .back-logo
  {
    position: absolute;
    bottom: 43px;
    left: 40px;
    /* border: 1px solid; */
    padding: 5px 10px;
    background: white;
    color: #203e35;
    font-weight: 500;
    font-size: 18px;
    cursor:pointer;
  }
  .exit
  {
     float:left;

  }
  .backButton
  {
    float:left;
    margin-left:3px;
  }
  .house
  {
    float:left;
    margin-left:3px;
  }

@media (max-width: 1600px) {
 /*.home-logo{
    padding: 15px 15px;
 }*/

 .foot-text{
  font-size: 12px;
 }
}
@media (max-width: 1360px) {
 /*.home-logo{
    padding: 23px 15px;
 }*/

.foot-text{
  font-size: 10px;
 }
}

@media (max-width: 1170px) {
 /*.home-logo{
    padding: 23px 15px;
 }*/

.foot-text{
  font-size: 8px;
 }
}

@media (max-width: 1000px) {
 /*.home-logo{
    padding: 23px 15px;
 }*/

.foot-text{
  font-size: 6px;
 }
}
